.header {
    width: 100%;
    padding: 2rem;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-large);
}

.dropdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dropdown li {
    list-style: none;
    padding: 0 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a.focus {
    border-bottom: 3px solid var(--color-secondary);
}

a:hover {
    border-bottom: 3px solid var(--color-grey);
}

.border {
    border-radius: 4px;
    border: 3px solid var(--color-secondary);
}

.username:hover {
    cursor: pointer;
}

.nodisplay {
    display: none;
}